torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
diffusers==0.30.2
transformers==4.44.2
accelerate==0.34.2
safetensors==0.4.5
controlnet_aux==0.0.9
clearml==2.0.0
clearml-agent==2.0.0
streamlit==1.38.0
pyngrok==7.1.6
pandas
numpy
pillow
opencv-python
matplotlib
lpips
scikit-image
einops
mediapipe==0.10.11
