clearml==1.17.1

# Stable Diffusers / ControlNet stack
diffusers==0.26.3
transformers==4.37.2
accelerate==0.27.2
safetensors
huggingface_hub

controlnet_aux==0.0.9

# Stable Torch versions that DO NOT trigger CUDA megawheels
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2

# Vision / utilities
opencv-python-headless
pillow
numpy==1.25.0
networkx

# ONLY if you need web UI (NOT for pipeline)
# streamlit==1.24.0

# General utilities
tqdm
requests
pyyaml
protobuf==3.20.3
